# .pcf file for BlackIce
#
# based on Richard Miller's version - thanks, Richard!
#

#PMOD13: 17A 17B 23A 23B

#set_io --warn-no-port PMOD13A 23
#set_io --warn-no-port RX 24		# PMOD13B
#set_io --warn-no-port TX 28		# PMOD13C
#set_io --warn-no-port PMOD13D 29

# new firmware test
set_io --warn-no-port RX 88	       # Richard's new firmware provides UART
set_io --warn-no-port TX 85

#Buttons
set_io --warn-no-port BUT0 63
#set_io --warn-no-port BUT1 64

# Onboard 100Mhz oscillator
set_io clk_in 129

# PMOD LED plugin
set_io --warn-no-port leds[0] 18
set_io --warn-no-port leds[1] 17
set_io --warn-no-port leds[2] 12
set_io --warn-no-port leds[3] 11
set_io --warn-no-port leds[4] 8
set_io --warn-no-port leds[5] 7
set_io --warn-no-port leds[6] 4
set_io --warn-no-port leds[7] 3

set_io --warn-no-port leds[8] 70 # LD1
set_io --warn-no-port leds[9] 68 # LD2
set_io --warn-no-port leds[10] 67 # LD3
set_io --warn-no-port leds[11] 71 # LD4

# SRAM Address port
set_io --warn-no-port SRAM_ADR[0] 137
set_io --warn-no-port SRAM_ADR[1] 138
set_io --warn-no-port SRAM_ADR[2] 139
set_io --warn-no-port SRAM_ADR[3] 141
set_io --warn-no-port SRAM_ADR[4] 142
set_io --warn-no-port SRAM_ADR[5] 42
set_io --warn-no-port SRAM_ADR[6] 43
set_io --warn-no-port SRAM_ADR[7] 44
set_io --warn-no-port SRAM_ADR[8] 73
set_io --warn-no-port SRAM_ADR[9] 74
set_io --warn-no-port SRAM_ADR[10] 75
set_io --warn-no-port SRAM_ADR[11] 76
set_io --warn-no-port SRAM_ADR[12] 115
set_io --warn-no-port SRAM_ADR[13] 116
set_io --warn-no-port SRAM_ADR[14] 117
set_io --warn-no-port SRAM_ADR[15] 118
set_io --warn-no-port SRAM_ADR[16] 119
set_io --warn-no-port SRAM_ADR[17] 78
set_io --warn-no-port SRAM_ADR[18] 62

# SRAM Data port
set_io --warn-no-port SRAM_DAT[0] 135
set_io --warn-no-port SRAM_DAT[1] 134
set_io --warn-no-port SRAM_DAT[2] 130
set_io --warn-no-port SRAM_DAT[3] 128
set_io --warn-no-port SRAM_DAT[4] 125
set_io --warn-no-port SRAM_DAT[5] 124
set_io --warn-no-port SRAM_DAT[6] 122
set_io --warn-no-port SRAM_DAT[7] 121
set_io --warn-no-port SRAM_DAT[8] 61
set_io --warn-no-port SRAM_DAT[9] 60
set_io --warn-no-port SRAM_DAT[10] 56
set_io --warn-no-port SRAM_DAT[11] 55
set_io --warn-no-port SRAM_DAT[12] 52
set_io --warn-no-port SRAM_DAT[13] 49
set_io --warn-no-port SRAM_DAT[14] 48
set_io --warn-no-port SRAM_DAT[15] 47

# SRAM Controls
set_io --warn-no-port SRAM_OE 45
set_io --warn-no-port SRAM_WE 120
set_io --warn-no-port SRAM_CS 136
#

